Repository danielp1234/benchmarks-website-27dn3k, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @qa-team, @security-team, @frontend-team, @devops-team, @docs-team

.github/CODEOWNERS:

# Files will be matched against patterns from most specific to least specific.
# At least 2 reviewers are required for all changes.

# Default owners - Project leads review any unspecified files
* @project-leads

# Backend service code ownership
src/backend/**/* @backend-team
src/backend/tests/**/* @backend-team @qa-team
src/backend/tests/security/**/* @backend-team @security-team @qa-team

# Frontend application code ownership  
src/web/**/* @frontend-team
src/web/tests/**/* @frontend-team @qa-team

# Infrastructure and deployment configuration
infrastructure/**/* @devops-team
infrastructure/terraform/* @devops-team @security-team

# Security-critical backend components requiring security team review
src/backend/src/config/* @backend-team @security-team
src/backend/src/api/middlewares/* @backend-team @security-team
src/backend/src/auth/**/* @backend-team @security-team
src/backend/src/security/**/* @backend-team @security-team

# CI/CD workflow protection
.github/workflows/* @devops-team @security-team

# Documentation ownership
*.md @docs-team
src/**/README.md @docs-team @project-leads
docs/security/**/* @docs-team @security-team

# The following patterns require mandatory security review:
# - All authentication and authorization code
# - Security middleware and configurations
# - Infrastructure changes
# - CI/CD workflows
# - Security documentation

# The following patterns require DevOps team review:
# - Infrastructure code
# - Deployment configurations
# - CI/CD pipeline changes
# - Configuration management

# The following patterns require project lead review:
# - Architecture changes
# - Major feature additions
# - Security policies
# - Team membership updates

Add public-samples/benchmarks-website-27dn3k/infrastructure/terraform/acm.tf
  infrastructure/terraform/acm.tf
Owners: @devops-team, @security-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @devops-team, @security-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/terraform/cloudfront.tf
  infrastructure/terraform/cloudfront.tf
Owners: @devops-team, @security-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/terraform/cloudwatch.tf
  infrastructure/terraform/cloudwatch.tf
Owners: @devops-team, @security-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/terraform/ecr.tf
  infrastructure/terraform/ecr.tf
Owners: @devops-team, @security-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/terraform/ecs.tf
  infrastructure/terraform/ecs.tf
Owners: @devops-team, @security-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/terraform/elasticache.tf
  infrastructure/terraform/elasticache.tf
Owners: @devops-team, @security-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/terraform/iam.tf
  infrastructure/terraform/iam.tf
Owners: @devops-team, @security-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @devops-team, @security-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/terraform/provider.tf
  infrastructure/terraform/provider.tf
Owners: @devops-team, @security-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/terraform/rds.tf
  infrastructure/terraform/rds.tf
Owners: @devops-team, @security-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/terraform/route53.tf
  infrastructure/terraform/route53.tf
Owners: @devops-team, @security-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/terraform/s3.tf
  infrastructure/terraform/s3.tf
Owners: @devops-team, @security-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/terraform/secrets.tf
  infrastructure/terraform/secrets.tf
Owners: @devops-team, @security-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team, @security-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/terraform/vpc.tf
  infrastructure/terraform/vpc.tf
Owners: @devops-team, @security-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/terraform/waf.tf
  infrastructure/terraform/waf.tf
Owners: @devops-team, @security-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/terraform/environments/prod/terraform.tfvars
  infrastructure/terraform/environments/prod/terraform.tfvars
Owners: @devops-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/terraform/environments/staging/terraform.tfvars
  infrastructure/terraform/environments/staging/terraform.tfvars
Owners: @devops-team

Add public-samples/benchmarks-website-27dn3k/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team

Add public-samples/benchmarks-website-27dn3k/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team

Add public-samples/benchmarks-website-27dn3k/src/backend/.eslintrc.json
  src/backend/.eslintrc.json
Owners: @backend-team

Add public-samples/benchmarks-website-27dn3k/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @backend-team

Add public-samples/benchmarks-website-27dn3k/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @backend-team

Add public-samples/benchmarks-website-27dn3k/src/backend/README.md
  src/backend/README.md
Owners: @docs-team, @project-leads

Add public-samples/benchmarks-website-27dn3k/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @backend-team

Add public-samples/benchmarks-website-27dn3k/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @backend-team

Add public-samples/benchmarks-website-27dn3k/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @backend-team

Add public-samples/benchmarks-website-27dn3k/src/backend/package.json
  src/backend/package.json
Owners: @backend-team

Add public-samples/benchmarks-website-27dn3k/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team

Add public-samples/benchmarks-website-27dn3k/src/backend/src/app.ts
  src/backend/src/app.ts
Owners: @backend-team

Add public-samples/benchmarks-website-27dn3k/src/backend/src/server.ts
  src/backend/src/server.ts
Owners: @backend-team

Add public-samples/benchmarks-website-27dn3k/src/backend/src/api/controllers/admin.controller.ts
  src/backend/src/api/controllers/admin.controller.ts
Owners: @backend-team

Add public-samples/benchmarks-website-27dn3k/src/backend/src/api/controllers/auth.controller.ts
  src/backend/src/api/controllers/auth.controller.ts
Owners: @backend-team

Add public-samples/benchmarks-website-27dn3k/src/backend/src/api/controllers/benchmark.controller.ts
  src/backend/src/api/controllers/benchmark.controller.ts
Owners: @backend-team

Add public-samples/benchmarks-website-27dn3k/src/backend/src/api/controllers/export.controller.ts
  src/backend/src/api/controllers/export.controller.ts
Owners: @backend-team

Add public-samples/benchmarks-website-27dn3k/src/backend/src/api/controllers/health.controller.ts
  src/backend/src/api/controllers/health.controller.ts
Owners: @backend-team

Add public-samples/benchmarks-website-27dn3k/src/backend/src/api/controllers/metrics.controller.ts
  src/backend/src/api/controllers/metrics.controller.ts
Owners: @backend-team

Add public-samples/benchmarks-website-27dn3k/src/backend/src/api/controllers/sources.controller.ts
  src/backend/src/api/controllers/sources.controller.ts
Owners: @backend-team
