Repository danielp1234/benchmarks-website-27dn3k, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @qa-team, @security-team, @frontend-team, @devops-team, @docs-team

.github/CODEOWNERS:

# Files will be matched against patterns from most specific to least specific.
# At least 2 reviewers are required for all changes.

# Default owners - Project leads review any unspecified files
* @project-leads

# Backend service code ownership
src/backend/**/* @backend-team
src/backend/tests/**/* @backend-team @qa-team
src/backend/tests/security/**/* @backend-team @security-team @qa-team

# Frontend application code ownership  
src/web/**/* @frontend-team
src/web/tests/**/* @frontend-team @qa-team

# Infrastructure and deployment configuration
infrastructure/**/* @devops-team
infrastructure/terraform/* @devops-team @security-team

# Security-critical backend components requiring security team review
src/backend/src/config/* @backend-team @security-team
src/backend/src/api/middlewares/* @backend-team @security-team
src/backend/src/auth/**/* @backend-team @security-team
src/backend/src/security/**/* @backend-team @security-team

# CI/CD workflow protection
.github/workflows/* @devops-team @security-team

# Documentation ownership
*.md @docs-team
src/**/README.md @docs-team @project-leads
docs/security/**/* @docs-team @security-team

# The following patterns require mandatory security review:
# - All authentication and authorization code
# - Security middleware and configurations
# - Infrastructure changes
# - CI/CD workflows
# - Security documentation

# The following patterns require DevOps team review:
# - Infrastructure code
# - Deployment configurations
# - CI/CD pipeline changes
# - Configuration management

# The following patterns require project lead review:
# - Architecture changes
# - Major feature additions
# - Security policies
# - Team membership updates

Add public-samples/benchmarks-website-27dn3k/.github/dependabot.yml
  .github/dependabot.yml
Owners: @project-leads

Add public-samples/benchmarks-website-27dn3k/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @docs-team

Add public-samples/benchmarks-website-27dn3k/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @docs-team

Add public-samples/benchmarks-website-27dn3k/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @docs-team

Add public-samples/benchmarks-website-27dn3k/.github/workflows/cd.yml
  .github/workflows/cd.yml
Owners: @devops-team, @security-team

Add public-samples/benchmarks-website-27dn3k/.github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: @devops-team, @security-team

Add public-samples/benchmarks-website-27dn3k/.github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Owners: @devops-team, @security-team

Add public-samples/benchmarks-website-27dn3k/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @docs-team

Add public-samples/benchmarks-website-27dn3k/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @docs-team

Add public-samples/benchmarks-website-27dn3k/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @docs-team

Add public-samples/benchmarks-website-27dn3k/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @docs-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/docker/docker-compose.prod.yml
  infrastructure/docker/docker-compose.prod.yml
Owners: @devops-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/docker/docker-compose.staging.yml
  infrastructure/docker/docker-compose.staging.yml
Owners: @devops-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/kubernetes/prod/configmap.yaml
  infrastructure/kubernetes/prod/configmap.yaml
Owners: @devops-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/kubernetes/prod/deployments.yaml
  infrastructure/kubernetes/prod/deployments.yaml
Owners: @devops-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/kubernetes/prod/hpa.yaml
  infrastructure/kubernetes/prod/hpa.yaml
Owners: @devops-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/kubernetes/prod/ingress.yaml
  infrastructure/kubernetes/prod/ingress.yaml
Owners: @devops-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/kubernetes/prod/namespace.yaml
  infrastructure/kubernetes/prod/namespace.yaml
Owners: @devops-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/kubernetes/prod/secrets.yaml
  infrastructure/kubernetes/prod/secrets.yaml
Owners: @devops-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/kubernetes/prod/services.yaml
  infrastructure/kubernetes/prod/services.yaml
Owners: @devops-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/kubernetes/staging/configmap.yaml
  infrastructure/kubernetes/staging/configmap.yaml
Owners: @devops-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/kubernetes/staging/deployments.yaml
  infrastructure/kubernetes/staging/deployments.yaml
Owners: @devops-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/kubernetes/staging/hpa.yaml
  infrastructure/kubernetes/staging/hpa.yaml
Owners: @devops-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/kubernetes/staging/ingress.yaml
  infrastructure/kubernetes/staging/ingress.yaml
Owners: @devops-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/kubernetes/staging/namespace.yaml
  infrastructure/kubernetes/staging/namespace.yaml
Owners: @devops-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/kubernetes/staging/secrets.yaml
  infrastructure/kubernetes/staging/secrets.yaml
Owners: @devops-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/kubernetes/staging/services.yaml
  infrastructure/kubernetes/staging/services.yaml
Owners: @devops-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/monitoring/grafana/dashboards/api.json
  infrastructure/monitoring/grafana/dashboards/api.json
Owners: @devops-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/monitoring/grafana/dashboards/metrics.json
  infrastructure/monitoring/grafana/dashboards/metrics.json
Owners: @devops-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/monitoring/grafana/dashboards/system.json
  infrastructure/monitoring/grafana/dashboards/system.json
Owners: @devops-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/monitoring/loki/loki.yml
  infrastructure/monitoring/loki/loki.yml
Owners: @devops-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/monitoring/prometheus/prometheus.yml
  infrastructure/monitoring/prometheus/prometheus.yml
Owners: @devops-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/monitoring/prometheus/rules/alerts.yml
  infrastructure/monitoring/prometheus/rules/alerts.yml
Owners: @devops-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/monitoring/prometheus/rules/recording.yml
  infrastructure/monitoring/prometheus/rules/recording.yml
Owners: @devops-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/monitoring/tempo/tempo.yml
  infrastructure/monitoring/tempo/tempo.yml
Owners: @devops-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/scripts/backup.sh
  infrastructure/scripts/backup.sh
Owners: @devops-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/scripts/deploy.sh
  infrastructure/scripts/deploy.sh
Owners: @devops-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/scripts/monitoring-setup.sh
  infrastructure/scripts/monitoring-setup.sh
Owners: @devops-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/scripts/restore.sh
  infrastructure/scripts/restore.sh
Owners: @devops-team

Add public-samples/benchmarks-website-27dn3k/infrastructure/scripts/rollback.sh
  infrastructure/scripts/rollback.sh
Owners: @devops-team
