Repository danielp1234/benchmarks-website-27dn3k, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @qa-team, @security-team, @frontend-team, @devops-team, @docs-team

Add public-samples/benchmarks-website-27dn3k/src/backend/tests/unit/controllers/metrics.controller.test.ts
  src/backend/tests/unit/controllers/metrics.controller.test.ts
Owners: @backend-team, @qa-team

Add public-samples/benchmarks-website-27dn3k/src/backend/tests/unit/controllers/sources.controller.test.ts
  src/backend/tests/unit/controllers/sources.controller.test.ts
Owners: @backend-team, @qa-team

Add public-samples/benchmarks-website-27dn3k/src/backend/tests/unit/services/auth.service.test.ts
  src/backend/tests/unit/services/auth.service.test.ts
Owners: @backend-team, @qa-team

Add public-samples/benchmarks-website-27dn3k/src/backend/tests/unit/services/benchmark.service.test.ts
  src/backend/tests/unit/services/benchmark.service.test.ts
Owners: @backend-team, @qa-team

Add public-samples/benchmarks-website-27dn3k/src/backend/tests/unit/services/export.service.test.ts
  src/backend/tests/unit/services/export.service.test.ts
Owners: @backend-team, @qa-team

Add public-samples/benchmarks-website-27dn3k/src/backend/tests/unit/services/metrics.service.test.ts
  src/backend/tests/unit/services/metrics.service.test.ts
Owners: @backend-team, @qa-team

Add public-samples/benchmarks-website-27dn3k/src/backend/tests/unit/services/sources.service.test.ts
  src/backend/tests/unit/services/sources.service.test.ts
Owners: @backend-team, @qa-team

Add public-samples/benchmarks-website-27dn3k/src/backend/tests/unit/utils/auth.utils.test.ts
  src/backend/tests/unit/utils/auth.utils.test.ts
Owners: @backend-team, @qa-team

Add public-samples/benchmarks-website-27dn3k/src/backend/tests/unit/utils/benchmark.utils.test.ts
  src/backend/tests/unit/utils/benchmark.utils.test.ts
Owners: @backend-team, @qa-team

Add public-samples/benchmarks-website-27dn3k/src/backend/tests/unit/utils/export.utils.test.ts
  src/backend/tests/unit/utils/export.utils.test.ts
Owners: @backend-team, @qa-team

Add public-samples/benchmarks-website-27dn3k/src/backend/tests/unit/utils/metrics.utils.test.ts
  src/backend/tests/unit/utils/metrics.utils.test.ts
Owners: @backend-team, @qa-team

Add public-samples/benchmarks-website-27dn3k/src/backend/tests/unit/utils/validation.utils.test.ts
  src/backend/tests/unit/utils/validation.utils.test.ts
Owners: @backend-team, @qa-team

Add public-samples/benchmarks-website-27dn3k/src/web/.dockerignore
  src/web/.dockerignore
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/.env.example
  src/web/.env.example
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/Dockerfile
  src/web/Dockerfile
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/README.md
  src/web/README.md
Owners: @docs-team, @project-leads

Add public-samples/benchmarks-website-27dn3k/src/web/cypress.config.ts
  src/web/cypress.config.ts
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/docker-compose.yml
  src/web/docker-compose.yml
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/index.html
  src/web/index.html
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/package.json
  src/web/package.json
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/src/main.tsx
  src/web/src/main.tsx
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/src/assets/fonts/inter/Inter-Bold.woff2
  src/web/src/assets/fonts/inter/Inter-Bold.woff2
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/src/assets/fonts/inter/Inter-Medium.woff2
  src/web/src/assets/fonts/inter/Inter-Medium.woff2
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/src/assets/fonts/inter/Inter-Regular.woff2
  src/web/src/assets/fonts/inter/Inter-Regular.woff2
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/src/assets/fonts/inter/Inter-SemiBold.woff2
  src/web/src/assets/fonts/inter/Inter-SemiBold.woff2
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/src/assets/images/favicon.ico
  src/web/src/assets/images/favicon.ico
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/src/assets/images/logo.svg
  src/web/src/assets/images/logo.svg
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/src/assets/styles/global.css
  src/web/src/assets/styles/global.css
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/src/assets/styles/themes.css
  src/web/src/assets/styles/themes.css
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/src/assets/styles/variables.css
  src/web/src/assets/styles/variables.css
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/src/components/admin/DataSourceForm/DataSourceForm.styles.ts
  src/web/src/components/admin/DataSourceForm/DataSourceForm.styles.ts
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/src/components/admin/DataSourceForm/DataSourceForm.test.tsx
  src/web/src/components/admin/DataSourceForm/DataSourceForm.test.tsx
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/src/components/admin/DataSourceForm/DataSourceForm.tsx
  src/web/src/components/admin/DataSourceForm/DataSourceForm.tsx
Owners: @frontend-team

.github/CODEOWNERS:

# Files will be matched against patterns from most specific to least specific.
# At least 2 reviewers are required for all changes.

# Default owners - Project leads review any unspecified files
* @project-leads

# Backend service code ownership
src/backend/**/* @backend-team
src/backend/tests/**/* @backend-team @qa-team
src/backend/tests/security/**/* @backend-team @security-team @qa-team

# Frontend application code ownership  
src/web/**/* @frontend-team
src/web/tests/**/* @frontend-team @qa-team

# Infrastructure and deployment configuration
infrastructure/**/* @devops-team
infrastructure/terraform/* @devops-team @security-team

# Security-critical backend components requiring security team review
src/backend/src/config/* @backend-team @security-team
src/backend/src/api/middlewares/* @backend-team @security-team
src/backend/src/auth/**/* @backend-team @security-team
src/backend/src/security/**/* @backend-team @security-team

# CI/CD workflow protection
.github/workflows/* @devops-team @security-team

# Documentation ownership
*.md @docs-team
src/**/README.md @docs-team @project-leads
docs/security/**/* @docs-team @security-team

# The following patterns require mandatory security review:
# - All authentication and authorization code
# - Security middleware and configurations
# - Infrastructure changes
# - CI/CD workflows
# - Security documentation

# The following patterns require DevOps team review:
# - Infrastructure code
# - Deployment configurations
# - CI/CD pipeline changes
# - Configuration management

# The following patterns require project lead review:
# - Architecture changes
# - Major feature additions
# - Security policies
# - Team membership updates
