Repository danielp1234/benchmarks-website-27dn3k, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @qa-team, @security-team, @frontend-team, @devops-team, @docs-team

.github/CODEOWNERS:

# Files will be matched against patterns from most specific to least specific.
# At least 2 reviewers are required for all changes.

# Default owners - Project leads review any unspecified files
* @project-leads

# Backend service code ownership
src/backend/**/* @backend-team
src/backend/tests/**/* @backend-team @qa-team
src/backend/tests/security/**/* @backend-team @security-team @qa-team

# Frontend application code ownership  
src/web/**/* @frontend-team
src/web/tests/**/* @frontend-team @qa-team

# Infrastructure and deployment configuration
infrastructure/**/* @devops-team
infrastructure/terraform/* @devops-team @security-team

# Security-critical backend components requiring security team review
src/backend/src/config/* @backend-team @security-team
src/backend/src/api/middlewares/* @backend-team @security-team
src/backend/src/auth/**/* @backend-team @security-team
src/backend/src/security/**/* @backend-team @security-team

# CI/CD workflow protection
.github/workflows/* @devops-team @security-team

# Documentation ownership
*.md @docs-team
src/**/README.md @docs-team @project-leads
docs/security/**/* @docs-team @security-team

# The following patterns require mandatory security review:
# - All authentication and authorization code
# - Security middleware and configurations
# - Infrastructure changes
# - CI/CD workflows
# - Security documentation

# The following patterns require DevOps team review:
# - Infrastructure code
# - Deployment configurations
# - CI/CD pipeline changes
# - Configuration management

# The following patterns require project lead review:
# - Architecture changes
# - Major feature additions
# - Security policies
# - Team membership updates

Add public-samples/benchmarks-website-27dn3k/src/web/src/services/export.service.ts
  src/web/src/services/export.service.ts
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/src/services/metrics.service.ts
  src/web/src/services/metrics.service.ts
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/src/store/store.ts
  src/web/src/store/store.ts
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/src/store/slices/authSlice.ts
  src/web/src/store/slices/authSlice.ts
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/src/store/slices/metricsSlice.ts
  src/web/src/store/slices/metricsSlice.ts
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/src/store/slices/uiSlice.ts
  src/web/src/store/slices/uiSlice.ts
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/src/utils/auth.utils.ts
  src/web/src/utils/auth.utils.ts
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/src/utils/date.utils.ts
  src/web/src/utils/date.utils.ts
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/src/utils/export.utils.ts
  src/web/src/utils/export.utils.ts
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/src/utils/metrics.utils.ts
  src/web/src/utils/metrics.utils.ts
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/src/utils/validation.utils.ts
  src/web/src/utils/validation.utils.ts
Owners: @frontend-team

Add public-samples/benchmarks-website-27dn3k/src/web/tests/e2e/admin.cy.ts
  src/web/tests/e2e/admin.cy.ts
Owners: @frontend-team, @qa-team

Add public-samples/benchmarks-website-27dn3k/src/web/tests/e2e/auth.cy.ts
  src/web/tests/e2e/auth.cy.ts
Owners: @frontend-team, @qa-team

Add public-samples/benchmarks-website-27dn3k/src/web/tests/e2e/benchmarks.cy.ts
  src/web/tests/e2e/benchmarks.cy.ts
Owners: @frontend-team, @qa-team

Add public-samples/benchmarks-website-27dn3k/src/web/tests/e2e/export.cy.ts
  src/web/tests/e2e/export.cy.ts
Owners: @frontend-team, @qa-team

Add public-samples/benchmarks-website-27dn3k/src/web/tests/unit/services/api.service.test.ts
  src/web/tests/unit/services/api.service.test.ts
Owners: @frontend-team, @qa-team

Add public-samples/benchmarks-website-27dn3k/src/web/tests/unit/services/auth.service.test.ts
  src/web/tests/unit/services/auth.service.test.ts
Owners: @frontend-team, @qa-team

Add public-samples/benchmarks-website-27dn3k/src/web/tests/unit/services/export.service.test.ts
  src/web/tests/unit/services/export.service.test.ts
Owners: @frontend-team, @qa-team

Add public-samples/benchmarks-website-27dn3k/src/web/tests/unit/services/metrics.service.test.ts
  src/web/tests/unit/services/metrics.service.test.ts
Owners: @frontend-team, @qa-team

Add public-samples/benchmarks-website-27dn3k/src/web/tests/unit/store/authSlice.test.ts
  src/web/tests/unit/store/authSlice.test.ts
Owners: @frontend-team, @qa-team

Add public-samples/benchmarks-website-27dn3k/src/web/tests/unit/store/metricsSlice.test.ts
  src/web/tests/unit/store/metricsSlice.test.ts
Owners: @frontend-team, @qa-team

Add public-samples/benchmarks-website-27dn3k/src/web/tests/unit/store/uiSlice.test.ts
  src/web/tests/unit/store/uiSlice.test.ts
Owners: @frontend-team, @qa-team

Add public-samples/benchmarks-website-27dn3k/src/web/tests/unit/utils/auth.utils.test.ts
  src/web/tests/unit/utils/auth.utils.test.ts
Owners: @frontend-team, @qa-team

Add public-samples/benchmarks-website-27dn3k/src/web/tests/unit/utils/date.utils.test.ts
  src/web/tests/unit/utils/date.utils.test.ts
Owners: @frontend-team, @qa-team

Add public-samples/benchmarks-website-27dn3k/src/web/tests/unit/utils/export.utils.test.ts
  src/web/tests/unit/utils/export.utils.test.ts
Owners: @frontend-team, @qa-team

Add public-samples/benchmarks-website-27dn3k/src/web/tests/unit/utils/metrics.utils.test.ts
  src/web/tests/unit/utils/metrics.utils.test.ts
Owners: @frontend-team, @qa-team

Add public-samples/benchmarks-website-27dn3k/src/web/tests/unit/utils/validation.utils.test.ts
  src/web/tests/unit/utils/validation.utils.test.ts
Owners: @frontend-team, @qa-team

Update README.md
  README.md
Owners: @docs-team
